h2 {
    font-variant: small-caps;
}

pre {
    color: #1F2F2F;
    font-size: 100%;
    padding: 0.2cm;
    border: thin solid black;
}

pre.python {
    background-color: #FFEFD5; /* PapayaWhip */
}

pre.output {
    background-color: #BBFEFE;
}

  #all { background-color: #CCCCCC; }

  #header {
    border-bottom: 1px solid black;
    padding: 1ex;
    background-color: #7FFFD4; /* Aquamarine */
  }

  #title {
    font-weight: bold;
    font-size: 110%;
    font-family: Helvetica, sans-serif;
  }

  #headerbar {
    border-bottom: 1px solid black;
    background-color: #20B2AA; /* LightSeaGreen */
  }
  #footer {
      border-top: 1px solid black;
      background-color: #7FFFD4; /* Aquamarine */
  }

  img {
      border-style: none;
  }

  #body {
    margin-left: 0px;
    margin-right: 20px;
    padding: 10px;
    font: 100% Georgia, Serif; 
  }

  #menu {
    font-size: 120%;
	float: right;
    padding-right: 10px;
    padding-left: 20px;
    margin: 20px;
    border: thick ridge #696969; /* DimGray */
    background-color: #D8BFD8; /* Thistle */
    color: black; /* TODO */
  }

  .bar {
	clear: both;
	padding: 3px;
	text-align: center;
	font-size: 90%;
    background-color: #AAAAAA;
  }

  .left, .right {
    padding: 0px 1em;
  }

  .left {
	float: left;
	text-align: left;
  }

  .right {
	float: right;
	text-align: right;
  }

  /* styling the menu */

  #menu a {
	text-decoration: none;
	font-weight: bold;
    display: block;
	font-size: 90%;
    color: black;
    padding: 0px 5px 0px 5px;
  }

  #menu a:hover {
	text-decoration: underline;
  }

  #menu .webgen-menu-item-selected A {
      background: #F08080; /* LightCoral */
      border: thin solid black;
  }

  #menu ul {
	list-style-type: square;
	padding: 0px;
    margin-top: 2px;
    margin-right: 0px;
    margin-bottom: 2px;
	margin-left: 0px;
  }

  #menu li {
    padding: 0px 0px 0px 0px;
  }
